/* Variables */

:root {
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --basic-grey: #eeeeee;
}

/* Global */

body {
  background-image: url("../img/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.site-navigation-first {
  text-align: left;
}

.main-navigation {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.Information {
  text-align: left;
}

.Photo and video {
  text-align: left;
}

.State map {
  text-align: right;
}

.Hotels {
  text-align: right;
}

.site-navigation-first {
  list-style: none;
}
.site-navigation-second {
  list-style: none;
}

/* Container */

.title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

/* features */

.feature-item {
  font-size: 21px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-blue);
}

.Description {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.desc {
  list-style: none;
}

.house,
.Description-house {
  text-align: left;
}

.food,
.Description-food {
  text-align: center;
}

.souvenirs,
.Description-souvenirs {
  text-align: right;
}

.Devil-bridge {
  text-align: right;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-blue);
}

.road,
road description {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

.tourists {
  text-align: right;
  font-size: 21px;
  line-height: 21px;
}

.places-tourists {
  text-align: right;
  font-size: 21px;
  line-height: 21px;
}

.Area,
attractions {
  text-align: left;
  font-size: 21px;
  line-height: 21px;
}

.booking {
  text-align: center;
}

.interest {
  font-size: 30px;
  line-height: 24px;
}

.date-of-travel {
  font-size: 30px;
  line-height: 24px;
}

.popup {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.main-footer {
  text-align: center;
}

.footer-social-list {
  list-style: none;
}
