/* Variables colors */

:root {
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --basic-grey: #eeeeee;

  /* variables typography */
  --main-font: "PT Sans", Arial, sans-serif;
  --regular-size: 14px;
  --regular-height: 26px;
  --size: 21px;
  --height: 24px;
  --font-bold: 600;

  /* variables weight */

  --weight: normal;
  --font-weight: bold;
}

/* Global */

body {
  --main-font: "PT Sans", Arial, sans-serif;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 26px;
  margin: 0px;
  padding: 0px;
}

.background {
  background-color: var(--basic-grey);
}

/* Main navigation */

.site-navigation-first {
  text-align: left;
}

.site-navigation-second {
  text-align: right;
}

.main-navigation {
  font-weight: var(--regular-weight);
  font-size: var(--main-size);
  color: var(--basic-black);
}

.site-navigation-first {
  list-style: none;
}
.site-navigation-second {
  list-style: none;
}

/* Container */

.title {
  text-align: center;
}

/* features */

.feature-item {
  background-color: var(--basic-blue);
}

.city {
  font-size: var(--size);
  line-height: var(--regilar-height);
}

/* advantages */

.description {
  list-style: none;
}

.advantages {
  font-size: var(--size);
  line-height: var(--regilar-height);
}

.content-advantage {
  font-size: var(--regular-size);
  line-height: var(--regilar-height);
}

/* devil */

.devil {
  background-color: var(--basic-blue);
}

.devil-bridge {
  font-size: var(--size);
  line-height: var(--regilar-height);
}

/* city ​​description  */

.city {
  font-size: var(--size);
  line-height: var(--regilar-height);
}

.city-info {
  font-size: var(--regular-size);
  line-height: var(--regilar-height);
}

/* interest */

.booking {
  text-align: center;
}

.interest {
  font-size: 30px;
  line-height: var(--height);
}

.date-of-travel {
  font-size: 30px;
  line-height: var(--height);
}

.popup {
  font-size: var(--size);
  line-height: var(--regilar-height);
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.main-footer {
  text-align: center;
}

.footer-social-list {
  list-style: none;
}
