/* Variables colors */

:root {
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-blue: #81b3d2;
  --basic-white: #ffffff;
  --basic-grey: #eeeeee;

  /* variables typography */

  --main-font: "PT Sans", Arial, sans-serif;
  --font-size-s: 14px;
  --font-height: 26px;
  --font-size-m: 21px;
  --height: 24px;
  --font-lh: 21px;
  --font-bold: 600;

  /* variables weight */

  --weight: normal;
  --font-weight: bold;
}

/* Global */

body {
  --main-font: "PT Sans", Arial, sans-serif;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 26px;
  margin: 0px;
  padding: 0px;
}

.page-body {
  min-height: 100%;
}

.background {
  background-color: var(--basic-grey);
}

/* Grid */

.page {
  height: 100%;
}

/* Main navigation */

.main-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-weight: var(--font-bold);
  font-size: var(--main-size);
  color: var(--basic-black);
}

.main-header-logo {
  margin: 0px auto;
}

.site-navigation-first {
  order: -1;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: var(--font-bold);
}
.site-navigation-second {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: var(--font-bold);
}

/* Container */

.title {
  text-align: center;
}

/* features */

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-item-primary {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
  padding: 0;
}

.grid-item-primary-revers {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-item-secondary {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
  padding: 0;
}

.feature-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-blue);
}

.city {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
}

.picture-city {
  width: 800px;
  height: 256px;
}

/* description */

.description {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 200px 0 82px 0;
  margin: 0;
}

/* advantages */

.advantages {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
  margin: 0;
  padding: 0 0 25px 0;
}

.content-advantage {
  font-size: var(--font-size-s);
  line-height: var(--font-height);
  margin: 0;
  padding: 0;
}

/* devil */

.feature-item-devil {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--basic-blue);
}

.devil {
  background-color: var(--basic-blue);
}

.devil-bridge {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
}

/* city ​​description  */

.city {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
  margin: 0;
  padding: 0;
}

.city-info {
  font-size: var(--font-size-s);
  line-height: var(--font-height);
  margin: 0;
  padding: 0;
}

/* interest */

.booking {
  text-align: center;
}

.interest {
  font-size: 30px;
  line-height: var(--height);
}

.date-of-travel {
  font-size: 30px;
  line-height: var(--height);
}

.popup {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.button-search {
  background-color: var(--basic-blue);
}

/* footer */

.main-footer {
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* INNER page */

.inner-page {
  background-color: var(--basic-grey);
}

.inner-nav-left {
  list-style: none;
  font-weight: var(--font-bold);
  order: -1;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: var(--font-bold);
}

.inner-nav-right {
  list-style: none;
  font-weight: var(--font-bold);
  margin: 0;
  padding: 0;
  font-weight: var(--font-bold);
}

/* filter */

.grid-inner-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.about-the-place {
  margin: 0;
  padding: 0;
}

.infrastructure {
  font-size: 16px;
  line-height: var(--font-lh);
  font-weight: var(--font-bold);
  margin: 0;
  padding: 0;
}

.type-of-housing {
  font-size: 16px;
  line-height: var(--font-lh);
  font-weight: var(--font-bold);
  margin: 0;
  padding: 0;
}

.infrastructure-description {
  list-style: none;
}

.about-infrastructure {
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
  margin: 0;
  padding: 0;
}

.description-housing {
  list-style: none;
}

.about-housing {
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

.about-the-price {
  font-size: 16px;
  line-height: var(--font-lh);
  font-weight: var(--font-bold);
}

.price {
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

.search {
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

/* hotel search */

.found {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
  font-weight: var(--font-bold);
}

.sorting-list {
  list-style: none;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
}

.hotel-name {
  font-size: var(--font-size-m);
  line-height: var(--font-height);
}

.about-type {
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

.more-details {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: var(--font-bold);
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

.to-book {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-weight: var(--font-bold);
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

.rating {
  font-size: var(--font-size-s);
  line-height: var(--font-lh);
}

/* footer */

.main-footer-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-social-list-inner {
  list-style: none;
  margin: 0;
  padding: 0;
}
